<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Primavera</string>
		<key>image_top</key>
		<string>Botticelli_Primavera_croptop.png</string>
		<key>link</key>
		<string>http://www.wikipaintings.org/en/sandro-botticelli/primavera-1478</string>
		<key>name</key>
		<string>Sandro Botticelli</string>
		<key>image</key>
		<string>Botticelli_Primavera.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Kanadehon Chūshingura</string>
		<key>image_top</key>
		<string>Kunisada_KanadehonChūshingura_croptop.png</string>
		<key>link</key>
		<string>http://www.wikipaintings.org/en/utagawa-kunisada/not_detected_240363</string>
		<key>name</key>
		<string>Utagawa Kunisada</string>
		<key>image</key>
		<string>Kunisada_KanadehonChūshingura.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Zebra</string>
		<key>image_top</key>
		<string>Mansur_Zebra_croptop.png</string>
		<key>link</key>
		<string>http://www.wikipaintings.org/en/ustad-mansur/zebra-1621</string>
		<key>name</key>
		<string>Ustad Mansur</string>
		<key>image</key>
		<string>Mansur_Zebra.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Portrait of Friederike Maria Beer</string>
		<key>image_top</key>
		<string>Shiele_PortraitFriederikeBeer_croptop.png</string>
		<key>link</key>
		<string>http://www.wikipaintings.org/en/egon-schiele/portrait-of-friederike-maria-beer-1914</string>
		<key>name</key>
		<string>Egon Schiele</string>
		<key>image</key>
		<string>Shiele_PortraitFriederikeBeer.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Claude Monet Painting by the Edge of a Wood</string>
		<key>image_top</key>
		<string>Sargent_ClaudeMonetPaintingByTheEdgeOfAWood+croptop</string>
		<key>link</key>
		<string>http://www.wikipaintings.org/en/john-singer-sargent/claude-monet-painting-by-the-edge-of-a-wood-1885</string>
		<key>name</key>
		<string>John Singer Sargent</string>
		<key>image</key>
		<string>Sargent_ClaudeMonetPaintingByTheEdgeOfAWood.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Medusa</string>
		<key>image_top</key>
		<string>Caravaggio_Medusa_croptop.png</string>
		<key>link</key>
		<string>http://www.wikipaintings.org/en/caravaggio/medusa-1597-1</string>
		<key>name</key>
		<string>Caravaggio</string>
		<key>image</key>
		<string>Caravaggio_Medusa.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Boy with a Basket of Fruit</string>
		<key>image_top</key>
		<string>Caravaggio_Fanciullo_croptop.png</string>
		<key>link</key>
		<string>http://www.wikipaintings.org/en/caravaggio/boy-with-a-basket-of-fruit-1593-1</string>
		<key>name</key>
		<string>Caravaggio</string>
		<key>image</key>
		<string>Caravaggio_Fanciullo.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Adam and Eve</string>
		<key>image_top</key>
		<string>Cranach_AdamEve_croptop.png</string>
		<key>link</key>
		<string>http://www.wikipaintings.org/en/lucas-cranach-the-elder/adam-and-eve-1531-1</string>
		<key>name</key>
		<string>Lucas Cranach the Elder</string>
		<key>image</key>
		<string>Cranach_AdamEve.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>The Ambassadors</string>
		<key>image_top</key>
		<string>Holbein_Ambassadors_croptop.png</string>
		<key>link</key>
		<string>http://www.wikipaintings.org/en/hans-holbein-the-younger/the-ambassadors-1533</string>
		<key>name</key>
		<string>Hans Holbein the Younger</string>
		<key>image</key>
		<string>Holbein_Ambassadors.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Luncheon on the Grass</string>
		<key>image_top</key>
		<string>Manet_Dejeuner_croptop.png</string>
		<key>link</key>
		<string>http://www.wikipaintings.org/en/edouard-manet/the-luncheon-on-the-grass-1863</string>
		<key>name</key>
		<string>Édouard Manet </string>
		<key>image</key>
		<string>Manet_Dejeuner.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>The Creation of Adam</string>
		<key>image_top</key>
		<string>Michelangelo_CreationAdam_croptop.png</string>
		<key>link</key>
		<string>http://www.wikipaintings.org/en/michelangelo/sistine-chapel-ceiling-creation-of-adam-1510</string>
		<key>name</key>
		<string>Michelangelo Buonarroti</string>
		<key>image</key>
		<string>Michelangelo_CreationAdam.png</string>
	</dict>
</array>
</plist>
